*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Montserrat;
}

/* common classes */

.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.justify_center{
    justify-content: center;
}

.flex_column{
    flex-direction: column;
}
.justify_space-between{
    justify-content: space-between;
}
.justify_space-around{
    justify-content: space-around;
}
.align_center{
    align-items: center;
}

.section{
    padding: 50px 0;
   
    display: block;
}

.text_center{
    text-align: center;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ff7b00;
    color: white;
}

/* div container  */
.container{
    
    max-width: 900px;
    margin: 0 auto;
  
}



/* social bar section */

.social_section{

    background-color: rgb(56, 1, 107);
    color: white;
}


.social_icons{
    gap: 5px;
}


/* nav section */

nav{
    display: flex;
    align-items: center;
    height: 54px;
}
nav .container{
    width: 100%;
}
nav ul{
    list-style-type: none;
    gap: 25px;
    align-items: center;
    padding: 0;
}

.nav_content{
    gap: 10px;
}

.nav_button{
    gap: 10px;
}

/* Hero Section */

.hero_section{
    
    height: 100vh;
    background-image: url("https://wallpapers.com/images/featured/light-blue-2iuzyh711jo9bmgo.jpg");
}
.hero_header-img{
    width: 100%;
    position: absolute;
}

.hero_section .container{
    padding: 35px 0 0 ;
    align-items: center;
    height: 100%;
}

.hero_text{
    flex: 1;
}


.hero_text h1{
    padding: 20px 0;
}

.hero_text .hero_header, .about_text span{
    color: teal;
}
.hero_text p{
    margin-bottom: 20px;
}
.hero_image{
    flex: 1;
}
h1 span{
    color: #ff7b00;
}
.hero_btn{
   padding: 1.2rem;
   width: 50%;
}

.hero_image{
    height: 100%;
}

.hero_image img{
    height: 100%;
}

/* info section */



.info_header{
    padding: 25px;
   width: 65%;
   margin: 0 auto;
}

.info_header span{
    
    color: teal;
}

.info_header h1{
    margin-top: 30px;
}

.card_list{
    padding: 25px;
    justify-content: space-between;
    width: 100%;
}

.card{
  height: 40vh;
    width: 30%;
}

.card h2{
    padding: 20px 0;
}
.account_card{
    border-radius: 5px;
    padding: 8px 15px;
    border: 1px solid gray;
    width: 40%;
}

.accounts{
    padding: 40px 0;
}
.account_card p{
    padding: 0 20px;
}

/* about  */

.section_about{
    background-image: url("https://html.designingmedia.com/repay/assets/images/about-background.png");
}

.about_text p{
    padding: 20px;
}