
@media only screen and (max-width: 1199px){
    .bannermain {
        padding: 100px 0 0;
    }
    .bannermain .banner h6 {
        margin-bottom: 10px;
    }
    .bannermain .banner h1 {
        margin-bottom: 20px;
    }
    .bannermain .banner p {
        margin-bottom: 24px;
    }
    .bannermain .button_text {
        padding: 15px 30px;
    }
    .bannermain .banner-wrapper .banner-image img {
        margin-top: -70px;
        margin-left: -15px;
        padding-left: 0;
        width: 500px;
    }
    .bannermain .banner-wrapper .content {
        left: -18px;
        top: -46px;
    }
    .bannermain .banner-wrapper .content img {
        width: 600px;
    }

    /* ========= what we do ================ */
    .what-we-do {
        padding: 100px 0;
    }
    .what-we-do .subheading h6 {
        margin-bottom: 10px;
    }
    .what-we-do .subheading h2 {
        padding: 0 124px;
        margin-bottom: 60px;
    }
    .what-we-do .img {
        margin-bottom: 20px;
    }
    .what-we-do .img img {
        width: 76px;
    }
    .what-we-do h3 {
        margin-bottom: 10px;
    }
    
    .what-we-do .text-size-18 {
        padding: 0px 10px;
    }    
    .what-we-do .arrow1 {
        left: 242px;
        top: 32px;
    }
    .what-we-do .arrow1 img {
        width: 145px;
    }
    .what-we-do .service2 {
        padding-top: 100px;
    }
    .what-we-do .arrow2 {
        left: 560px;
        top: 56px;
    }

    .what-we-do .arrow2 img {
        width: 145px;
    }
    .what-we-do .account {
        padding: 10px;
    }
    /* ===== about ============= */
    .about-epayeer {
        padding: 170px 0;
    }
    .about-epayeer .about-wrapper .image {
        left: 66px;
        top: -74px;
    }
    .about-epayeer .about-wrapper .image img {
        width: 360px;
    }
    .about-epayeer .about-content h6 {
        margin-bottom: 10px;
    }
    .about-epayeer .about-content h2 {
        margin-bottom: 15px;
        padding: 0;
    }
    .about-epayeer .about-content .text-size-18 {
        margin-bottom: 20px;

    }
    .about-epayeer .about-content .right-lower .icon {
        width: 70px;
    }
    .about-epayeer .about-content .right-lower .content {
        padding: 2px 8px 0 10px;
    }
    .about-epayeer .about-content span {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    /* =========== service =========== */
    
    .service-section {
        padding: 100px 0 74px;
    }
  

    /* =========== manage ================== */
    .manage-section {
        padding: 90px 0 70px;
    }
    .manage-section .manage-content h2 {
        padding-right: 0;
        margin-bottom: 35px;
    }
    .manage-section .manage-content .icon img {
        width: 76px;
    }
    .manage-section .manage-content .content h4 {
        margin-bottom: 10px;
    }
    .manage-section .manage-content .content .text {
        padding-right: 0;
    }
    .manage-section .manage-content .content .text-size-16 {
        margin-bottom: 20px;
    }
    .manage-section .manage-wrapper .manage-image {
        top: 68px;
        right: 80px;
    }
    .manage-section .manage-wrapper .manage-image img {
        width: 350px;
    }
    .manage-section .manage-layer {
        display: none;
    }

    /* ======= plan ================= */
  
   

    /* ======== need ================ */
    

    

    


}

@media only screen and (max-width: 991px){
    .bannermain {
        padding: 118px 0 0;
    }
    .bannermain .banner h6 {
        margin-bottom: 8px;
    }
    .bannermain .banner h1 {
        margin-bottom: 10px;
    }
    .bannermain .banner p {
        margin-bottom: 25px;
    }
    .bannermain .button_text {
        padding: 15px 20px;
    }
    
    .bannermain .banner-wrapper .banner-image img {
        margin-top: -46px;
        margin-left: 56px;
        width: 450px;
    }

    /* what we do */
    .what-we-do {
        padding: 70px 0;
    }   
    .what-we-do .subheading h2 {
        padding: 0 80px;
        margin-bottom: 50px;
    }
    .what-we-do .service1 {
        margin-bottom: 40px;
    }
    .what-we-do .img {
        margin-bottom: 15px;
    }
    .what-we-do .text-size-18 {
        padding: 0 30px;
    }
    .what-we-do .arrow1 {
        display: none;
    }
    .what-we-do .service2 {
        padding-top: 7px;
    }
    .what-we-do .arrow2 {
        display: none;
    }
    .what-we-do .account {
        text-align: center;
    }
    .what-we-do .account .heading {
        padding-left: 0px;
    }

    /*  about  */
    .about-epayeer {
        padding: 120px 0 100px;
    }
    .about-epayeer .about-wrapper .image {
        left: 8px;
        top: -50px;
    }
    .about-epayeer .about-wrapper .image img {
        width: 360px;
    }
    .about-epayeer .about-content .text-size-18 {
        margin-bottom: 15px;
        padding: 0;
    }
    .about-epayeer .about-content .right-lower .icon {
        margin-right: 10px;
    }
    .about-epayeer .about-content .right-lower .content {
        padding: 0;
    }

    /* service */
    .service-section {
        padding: 70px 0 60px;
    }
    


    /* manage part */
    .manage-section {
        padding: 60px 0 45px;
    }
    .manage-section .manage-content h2 {
        margin-bottom: 25px;
    }
    .manage-section .manage-content .icon img {
        width: 65px;
    }
    
    .manage-section .manage-wrapper .manage-image {
        right: 50px;
        top: 3px;
    }
    
    .manage-section .manage-wrapper .manage-image img {
        width: 350px;
    }

    /* plan section */
   

    /* need section */
   
}


@media only screen and (max-width: 767px){
   

    .bannermain {
        padding: 100px 0 0;
    }
    .bannermain .banner {
        text-align: center;
    }
    .bannermain .banner p {
        padding: 0 70px;
    }
    .bannermain .button_text {
        font-size: 14px;
        line-height: 16px;
        padding: 15px;
    }
    .bannermain .banner-wrapper {
        text-align: center;
    }
    .bannermain .banner-wrapper .banner-image img {
        margin-top: 20px;
        margin-left: -6px;
    }

    /*  what we do */
    .what-we-do {
        padding: 60px 0 45px;
    }
    .what-we-do .subheading h2 {
        padding: 0 60px;
        margin-bottom: 40px;
    }
    .what-we-do .text-size-18 {
        padding: 0 58px;
    }
    .what-we-do .account {
        margin-bottom: 15px;
        padding: 10px 60px;
    }
   

    /* about */
    .about-epayeer {
        padding: 110px 0 62px;
    }
    .about-epayeer .about-wrapper {
        text-align: center;
        margin-bottom: 458px;
    }
    .about-epayeer .about-wrapper .image {
        left: 96px;
        top: -48px;
    }
    .about-epayeer .about-wrapper .image img {
        width: 336px;
    }
    .about-epayeer .about-content {
        text-align: center;
    }
    .about-content .about-content .text-size-18 {
        padding: 0 40px;
    }
    .about-epayeer .about-content .right-lower {
        padding-left: 54px;
    }

    /* service */
    

    /* manage  */
    .manage-section {
        padding: 50px 0 35px;
    }
    .manage-section .manage-content {
        text-align: center;
    }
    .manage-section .manage-content h2 {
        margin-bottom: 30px;
    }
    
    .manage-section .manage-content .icon {
        margin-bottom: 20px !important;
    }
    .manage-section .manage-content .icon img {
        width: 65px;
    }
    .manage-section .manage-content .content .text-size-16 {
        margin-bottom: 30px;
        padding: 0 60px;
    }
    .manage-section .manage-content .content {
        padding-left: 0;
    }
    .manage-section .manage-wrapper {
        text-align: center;
    }
    .manage-section .manage-wrapper .manage-image {
        position: relative;
        right: 7px;
        top: 33px;
    }
    
    
    
    .manage-section .manage-wrapper .manage-image img {
        width: 260px;
    }


    /* plan */
  

    /* need */
   
}




@media only screen and (max-width: 575px){

    .bannermain .banner h6 {
        margin-bottom: 2px;
    }
    .bannermain .banner h1 {
        margin-bottom: 4px;
    }
    .bannermain .banner p {
        margin-bottom: 16px;
        padding: 0;
    }
    .bannermain .banner-wrapper .banner-image img {
        margin-top: 18px;
        margin-left: -10px;
        width: 242px;
    }
    .what-we-do .subheading h2 {
        margin-bottom: 44px;
        padding: 0;
    }
    .what-we-do .text-size-18 {
        padding: 0;
    }
    .what-we-do .account {
        padding: 10px 40px;
    }

    .about-epayeer .about-wrapper {
        margin-bottom: 416px;
    }
    .about-epayeer .about-wrapper .image {
        left: 26px;
        top: -50px;
    }
    .about-epayeer .about-content h6 {
        margin-bottom: 6px;
    }
    .about-epayeer .about-content h2 {
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .about-epayeer .about-content .text-size-18 {
        margin-bottom: 10px;
        padding: 0 20px;
    }
    .about-epayeer .about-content .text {
        margin-bottom: 20px !important;
    }
    .about-epayeer .about-content .right-lower {
        padding-left: 0;
    }
    .about-epayeer .about-content .right-lower .icon {
        margin-right: 0;
    }

    .service-section .service-content h6 {
        margin-bottom: 5px;
    }
    .service-section .service-content h2 {
        margin-bottom: 25px;
        padding: 0 60px;
    }

    .manage-section {
        padding: 50px 0 77px;
    }
    .manage-section .manage-wrapper .manage-image img {
        width: 260px;
    }
    .manage-section .manage-wrapper .manage-image {
        right: 0;
        top: 75px;
    }

 
}



