@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* ================= VARIABLES CSS START ==================== */
:root {
    --epay-header-height: 3rem;

    /* ======= COLOR ============ */
    --epay-main-color: #074e7d;
    --epay-secondary-color: #28214c;
    --epay-white-color: #FFFFFF;
    --epay-orange-color: #008fcb;
    --pay-darkblue-color: #010647;
    --epay-text-color2: #000000;
    --epay-custom-color: #777777;
    --epay-shadow-color: rgba(0, 0, 0, 0.25);
    --epay-main-shadow-color:  rgba(0, 161, 222, 0.15);

    /* ======= FONT AND TYPOGRAPHY======== */
    --main-font:  'Barlow Condensed', sans-serif;
    --second-font: 'Jost', sans-serif;
    --third-font: 'Oxygen', sans-serif;

    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --h4-font-size: 0.875rem;
    --h5-font-size: 0.75rem;
    --h6-font-size: 0.625rem;
    --normal-font-size: 0.75rem;
    --small-font-size: 0.813rem;
    --smallest-font-size: 0.75rem;

    /* ======= FONT WEIGHT =========== */
    --epay-weight-light: 300;
    --epay-weight-normal: 400;
    --epay-weight-medium: 500;
    --epay-weight-semi-bold: 600;
    --epay-weight-bold: 700;
    --epay-line-height: 0.9375rem;

    /* ======= MARGIN & PADDING ========== */
    --epay-md-1: 0.25rem;
    --epay-md-2: 0.5rem;
    --epay-md-3: 0.7rem;
    --epay-md-4: 1rem;
    --epay-md-5: 1.25rem;
    --epay-md-6: 1.5rem;

    /* ======= BORDER RADIUS ========== */
    --epay-border-radius: 0.1875rem;

    /* ======= BORDER WIDTH ========== */
    --epay-border-width: 0.0625rem;

    /* ======= Z INDEX ========== */
    --epay-z-tooltip: 10;
    --epay-z-fixed: 100;
}

/* ================= VARIABLES CSS END ==================== */


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

img {
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--epay-text-color);
}

a:hover {
    text-decoration: none;
    color: var(--epay-text-color);
}

ul, ol {
    list-style: none;
    padding: 0;
}

button:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, label {
   margin: 0;
}

h6{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var( --epay-main-color);
    font-family: var(--third-font);
   
}
h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: var(--e-global-color-very-dark-blue);
    color: var(--pay-darkblue-color);
}
h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: var(--pay-darkblue-color);
}

h2{
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #28214c;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    color: var(--epay-secondary-color);
}
p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--epay-custom-color);
    font-family: var(--third-font);
}
a {
    outline: none;
    color: #dddddd;
    text-decoration: none;
}
.footer-section .footer-logo {
    position: relative;
    top: 18px;
    margin-bottom: 30px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


.text-size-18 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: var(--epay-custom-color);
    font-family: var(--third-font);
}
.text-size-16 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: var(--epay-custom-color);
    font-family: var(--third-font);
}
.footer-section .links .text-size-16 {
    position: relative;
    padding-left: 14px;
}
.footer-section .links li a:before {
    content: "\f0da";
    color: var(--epay-orange-color);
    font-weight: bold;
    display: inline-block;
    margin-left: 0;
    position: absolute;
    font-family: 'FontAwesome';
  
    left: 0px;
}

.animate__backInLeftr {
    --animate-duration: 8s;
  }

  

.sub-banner {
    background: url(https://html.designingmedia.com/repay/assets/images/sub-bannerbackground.png);
    background-color: transparent;
    background-position: center;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 0px;
    vertical-align: middle;
    position: relative;
    text-align: center;
}


.sub-banner .banner-section .bgshape {
    position: absolute;
    top: 0;
}

.sub-banner .banner-section .banner_content h1 {
    margin-bottom: 24px;
}
.sub-banner .banner-section .banner_content p {
    padding: 0 152px;
    color: #555555;
    margin-bottom: 90px;
}


.sub-banner .box {
    box-shadow: 1px 1px 100px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 6px 35px;
    text-align: center;
    background-color: var(--epay-white-color);
    display: inline-block;
    z-index: 1;
    position: relative;
    top: 26px;
}

.sub-banner .dash {
    font-size: 20px !important;
    line-height: 30px !important;
    display: inline-block;
    margin: 0 6px;
}

.sub-banner .box .box_span {
    color: var(--epay-orange-color);
}

@media only screen and (max-width: 1199px){
    .navbar {
        padding: 14px 0;
    }
      .navbar-brand figure img {
        width: 118px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
    }
    h2 {
        font-size: 50px;
        line-height: 56px;
    }
    h3 {
        font-size: 26px;
        line-height: 30px;
    }
    h4 {
        font-size: 22px;
        line-height: 28px;
    }
    
    
    .text-size-16 {
        font-size: 16px;
        line-height: 24px;
    }
    .navbar-brand .Logo img {
        width: 110px;
    }
    .navbar {
        padding: 14px 0;
    }

    /* sub banner */

    .sub-banner {
        padding: 90px 0 0px;
    }
    .sub-banner .banner-section .banner_content h1 {
        margin-bottom: 15px;
    }
    .sub-banner .banner-section .banner_content p {
        padding: 0 105px;
        margin-bottom: 54px;
    }
    .sub-banner .box {
        top: 20px;
        padding: 4px 30px;
    }


    /* service */
    .service-section .service-content h6 {
        margin-bottom: 10px;
    }
    .service-section .service-content h2 {
        margin-bottom: 50px;
    }
    
    .service-section .service-content .service-image {
        margin-bottom: 30px;
    }
    .service-section .services-data .service-box {
        margin-bottom: 20px ;
        padding: 50px 10px ;
    }
    .service-section .services-data .service-box .img {
        margin-bottom: 20px;
    }
    .service-section .services-data .service-box .img2 {
        margin-bottom: 30px;
    }
    .service-section .services-data .service-box .img2 img {
        width: 86px;
    }
    .service-section .services-data .service-box .img3 {
        margin-bottom: 18px;
    }
    .service-section .services-data .service-box .img3 img {
        width: 69px;
    }
    .service-section .services-data .service-box .img5 {
        margin-bottom: 25px;
    }
    .service-section .services-data .service-box .img img {
        width: 76px;
    }
    .service-section .services-data .service-box h3 {
        margin-bottom: 10px;
    }
    .service-section .services-data .service-box .text-size-18 {
        padding: 0;
        margin-bottom: 25px;
    }
    .service-section .services-data .service-box .more {
        padding: 8px 26px;
    }



    /* plan */
    .plan {
        padding: 100px 0 90px;
    }
    .plan .content h6 {
        margin-bottom: 10px;
    }
    .plan .content h2 {
        margin-bottom: 50px;
        padding: 0 180px;
    }

    .plan .facility li {
        margin: 0 10px;
    }
    .plan .facility {
        text-align: center;
    }
    
    /* need */
    .need-section {
        padding: 100px 0;
    }
    .need-section .content h6 {
        margin-bottom: 10px;
    }
    .need-section .content h2 {
        margin-bottom: 15px;
    }
    .need-section .content p {
        padding: 0 80px;
        margin-bottom: 35px;
    }
    .need-section .img {
        margin-bottom: 20px;
    }
    .need-section h3 {
        margin-bottom: 10px;
    }
    .need-section .text-size-18 {
        padding: 0;
    }
    .need-section .arrow1 {
        left: 242px;
        top: 32px;
    }
    .need-section .arrow1 img {
        width: 145px;
    }
    .need-section .service2 {
        padding-top: 100px;
    }
    .need-section .arrow2 {
        right: 256px;
        top: 56px;
    }
    need-section .arrow2 img {
        width: 145px;
    }







    /* ========== footer =========== */
    .footer-section {
        padding-bottom: 30px !important;
    }
    .footer-section .partner-section {
        padding: 40px 0 !important;
    }
    .footer-section .partner-section .partner li {
        margin-right: 43px !important;
    }
    .footer-section .middle-portion {
        padding-top: 90px !important;
    }
    .footer-section .footer-logo img {
        width: 118px !important;
    }
    .footer-section .middle-portion .footer-text {
        margin-bottom: 6px !important;
    }
    .footer-section .middle-portion .line {
        margin: 0 0 16px 0 !important;
    }
    .footer-section .middle-portion .social-icons .circle {
        margin-right: 4px !important; 
    }
    

}


@media only screen and (max-width: 991px){
.navbar-toggler {
    margin-left: auto;
    border: none !important;
    width: 60px;
    height: 40px;
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-white) !important;
}

    h1 {
        font-size: 42px !important;
        line-height: 48px !important;
    }
    h2 {
        font-size: 40px;
        line-height: 44px;
    }
    .text-size-18 {
        font-size: 16px;
        line-height: 22px;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }


    .navbar-toggler span.navbar-toggler-icon:first-child {
        margin-top: 0;
    }
    .navbar-toggler span.navbar-toggler-icon {
        transition: all 0.15s;
    }
    .navbar-light .navbar-toggler-icon {
        background: var(--epay-white-color);
        height: 2px;
        margin: 7px 0 0 0;
        width: 100%;
        float: right;
    }

    .navbar-toggler {
        margin-left: auto;
        border: none !important;
        width: 60px;
        height: 40px;
        background-color: var(--epay-orange-color);
        color: var(--epay-white-color) !important;
    }
    .navbar-collapse {
        background: var(--epay-white-color);
        position: absolute;
        right: 0px;
        width: 100%;
        top: 60px;
        z-index: 16;
        padding: 0;
    }
    .navbar-collapse ul {
        align-items: unset;
        text-align: unset;
        margin-left: 0;
    }
    .navbar li {
        text-align: center;
        margin: 10px !important;
        padding: 0;
    }

    .sub-banner {
        padding: 60px 0 0px;
    }
    .sub-banner .banner-section .banner_content h1 {
        margin-bottom: 10px;
    }
    .sub-banner .banner-section .banner_content p {
        padding: 0 50px;
        margin-bottom: 25px;
    }



    /* service */
    .service-section .service-content h2 {
        margin-bottom: 30px;
    }
    .service-section .services-data .service-box {
        margin-bottom: 10px;
        padding: 30px 8px;
    }
    .service-section .services-data .service-box .img {
        margin-bottom: 15px;
    }
    .service-section .services-data .service-box .img img {
        width: 60px;
    }   

    .service-section .services-data .service-box .text-size-18 {
        padding: 0 20px;
    }
    .service-section .services-data .service-box .more {
        padding: 8px 20px;
    }
    .service-section .services-data .mobile-image {
        top: 70px;
    }

    /* plan */
    .plan {
        padding: 70px 0 60px;
    }
    .plan .content h2 {
        margin-bottom: 30px;
        padding: 0px 130px;
    }
    .plan .pricing {
        margin-bottom: 15px;
        padding: 15px;
    }
    .plan .facility li:first-child {
        margin-left: 28px;
    }
    .plan .facility li {
        margin: 0 32px;
    }
    .plan .facility li:last-child {
        margin-right: 0px;
    }
    .plan .facility .font1 {
        margin-top: -2px;
    }
    .plan .facility li p {
        padding-left: 6px;
    }
    .plan .facility .text4 {
        margin-left: -5px;
        margin-right: 34px;
    }
    .plan .facility .text5 {
        margin-right: 74px;
        margin-left: 25px;
    }

    /* need */
    .need-section {
        padding: 70px 0 30px;
    }
    .need-section .content p {
        padding: 0 4px;
        margin-bottom: 35px;
    }
    .need-section .service1 {
        margin-bottom: 40px;
    }
    .need-section .img {
        margin-bottom: 15px;
    }
    .need-section .img img {
        width: 65px;
    }
    .need-section .text-size-18 {
        padding: 0 40px;
    }
    .need-section .arrow1 {
        display: none;
    }
    .need-section .service2 {
        padding-top: 7px;
    }
    
    .need-section .img2 {
        margin-bottom: 10px;
    }
    .need-section .arrow2 {
        display: none;
    }    
    .need-section .need-layer {
        display: none;
    }


    .footer-section {
        padding-bottom: 10px;
    }

    
    .footer-section .partner-section .partner li {
        margin-right: 30px !important;
    }
    .footer-section .partner-section .partner .partner1 img {
        width: 85px;
    }
    .footer-section .middle-portion {
        padding-top: 65px;
    }
    .footer-section .middle-portion .links {
        padding-left: 20px;
    }
    .copyright {
        padding: 8px 0px;
    }
}



@media only screen and (max-width: 767px){
    h6 {
        font-size: 14px;
        line-height: 18px;
    }
    h1 {
        font-size: 36px !important;
        line-height: 44px !important;
    }
    .menu_part {
        padding-top: 10px  ;
    }
    h2 {
        font-size: 34px;
        line-height: 40px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
    h4 {
        font-size: 18px;
        line-height: 22px;
    }
    p {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .text-size-18 {
        font-size: 16px;
        line-height: 24px;
    }
    .social_section{
        margin-left: 0px;
        text-align: center;
    }



    .sub-banner {
        background-image: url(https://html.designingmedia.com/repay/assets/images/sub-bannerbackground.png);
        padding: 50px 0 0px;
    }
    .sub-banner .banner-section .banner_content h1 {
        margin-bottom: 6px;
    }
    .sub-banner .banner-section .banner_content p {
        margin-bottom: 20px;
        padding: 0 10px;
        
    }
    .sub-banner .box {
        top: 18px;
        padding: 4px 22px;
    }



    .service-section {
        padding: 60px 0 50px;
    }
    .service-section .services-data .mobile-image {
        top: 10px;
        text-align: center;
    }

    /* plan */

    .plan {
        padding: 60px 0 50px;
    }

    .plan .content h2 {
        margin-bottom: 30px;
        padding: 0;
    }
    .plan .pricing {
        padding: 15px 20px;
    }
    .plan .pricing .text1 {
        margin-bottom: 20px !important;
    }
    .plan .facility li:first-child {
        margin-left: 0;
    }
    .plan .facility li {
        margin: 0 15px;
    }
    .plan .facility .text4 {
        margin: 0 -14px;
    }
    .plan .facility .text5 {
        margin-right: 72px;
        margin-left: 42px;
    }
    .plan .facility li:last-child {
        margin: 0;
    }


    .need-section {
        padding: 60px 0 20px;
    }
    .need-section .content h2 {
        margin-bottom: 10px;
    }
    .need-section .content p {
        padding: 0;
        margin-bottom: 40px;
    }
    .need-section .text-size-18 {
        padding: 0 76px;
    }

    /* footer */

    .footer-section {
        padding-bottom: 0;
    }
    .footer-section .partner-section {
        padding: 40px 0px 20px;
        text-align: center;
    }
    .footer-section .partner-section .partner li:first-child {
        margin-left: 58px !important;
    }
    .footer-section .partner-section .partner li {
        margin: 0 60px 25px 0;
    }
    .footer-section .partner-section .partner li {
        margin: 0 60px 25px 0 !important;
    }
    .footer-section .partner-section .partner .partner1 img {
        width: 85px;
    }
    .footer-section .middle-portion .icon {
        padding-left: 20px;
    }
}


@media only screen and (max-width: 575px){
    h2 {
        font-size: 30px;
        line-height: 36px;
    }


    .footer-section .middle-portion {
        text-align: center;
        padding-top: 40px !important;
    }
    .footer-section {
        padding-bottom: 60px;
    }
    .footer-section .partner-section {
        padding: 40px 0px 20px;
    }
    .footer-section .partner-section .partner li:first-child {
        margin-left: 48px !important;
    }
    .footer-section .partner-section .partner li {
        margin: 0 52px 25px 0 !important;
    }
    .footer-section .partner-section .partner .img-mb {
        margin-left: 40px !important;
    }
    .footer-section .middle-portion {
        text-align: center;
        padding-top: 40px;
    }
    .footer-section .middle-portion p {
        display: none;
    }
    .footer-section .middle-portion .payment-icon {
        left: 4px;
    }
    
    .footer-section .middle-portion .line {
        display: none;
    }    
    #carouselExampleControls {
        padding: 0 70px;
    }
    .testimonial-section .review_content img {
        width: 75px;
    }
    .plan .content h6 {
        margin-bottom: 6px;
    }
    .plan .content h2 {
        margin-bottom: 20px;
    }
    .plan .facility li {
        margin: 0 16px 6px;
    }
    .plan .facility .text3 {
        margin-right: 29px;
        margin-left: 0;
    }
    .plan .facility .text4 {
        margin-left: 0;
        margin-right: 37px;
    }
    .plan .facility .text5 {
        margin-right: 48px;
        margin-left: -37px;
    }
    .need-section .text-size-18 {
        padding: 0 25px;
    }
}
